sup,
sub {
	vertical-align: bottom;
	position: relative;
	top: 0.4em;
	font-size: 0.6em;
}
sup {
	top: -0.4em;
}

#inspector .dropdown {
	position: absolute;
}

#navigator {
	width: 7.5em;
	text-align: center;
	padding-top: 0.5em;
}
#navigator .element {
	position: relative;
	width: 2em;
	height: 2em;
}
#navigator .disappeared {
	opacity: 0;
}
#current-element {
	font-size: 1.2em;
	-webkit-transform: none;
}

section.menu .title {
	width: 8em;
	font-size: 2em;
	text-transform: lowercase;
	text-align: left;
	line-height: 1.5em;
	padding-left: 0.3em;
}

#inspector .toolbar .icon {
	-webkit-transform: scale(0.75);
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
}
#inspector .toolbar .icon.active {
	-webkit-transform: scale(1);
}

#sources-view {
	overflow-y: scroll;
	padding: 1em 2em;
}
#sources-view > div {
	font-size: 0.8em;
	line-height: 1.2em;
}
#sources-view .indent {
	margin-left: 1em;
}
#sources-view h2 {
	margin-top: 0;
	margin-bottom: 0.2em;
}
#sources-view h3 {
	margin-bottom: 0;
}
#sources-view ul {
	margin-top: 0;
}

#wikipedia-view {
	background-color: #fff;
	visibility: hidden;
}
#inspector.active #wikipedia-view {
	visibility: visible;
}
#wikipedia-portal {
	width: 100%;
	height: 100%;
	border: 0;
}

#inspector .fixed {
	display: inline-block;
	width: 2em;
	text-align: right;
}
#inspector .indent {
	margin-left: 5%;
}
#inspector .large {
	font-size: 2em;
	line-height: 1.2em;
}

#picture {
	display: inline-block;
	padding: 0.5em;
	background-color: #fff;
	-webkit-transform: rotate(2deg);
	-webkit-backface-visibility: hidden;
	box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
	vertical-align: middle;
	height: 11em;
	position: absolute;
	left: 13em;
	top: 2em;
}

#hydrides-container,
#oxides-container,
#chlorides-container {
	display: inline-block;
	width: 8em;
	vertical-align: top;
}
#inspector #hydrides,
#inspector #oxides,
#inspector #chlorides {
	font-size: 1.6em;
	line-height: 1em;
}

#bohr-model {
	height: 100%;
}
#bohr-model canvas {
	vertical-align: middle;
}