@import url("types.css");
@import url("main.css");

@import url("loading.css");
@import url("table.css");
@import url("menu.css");
@import url("inspector.css");

html {
	font-size: 18pt;
}

@media screen and (min-height: 240px) and (max-height: 319px) {
	body {
		font-size: 34%;
	}
}
@media screen and (min-height: 320px) and (max-height: 359px) {
	body {
		font-size: 55%;
	}
}
@media screen and (min-height: 360px) and (max-height: 399px) {
	body {
		font-size: 65%;
	}
}
@media screen and (min-height: 400px) and (max-height: 479px) {
	body {
		font-size: 70%;
	}
}
@media screen and (min-height: 480px) and (max-height: 519px) {
	body {
		font-size: 84%;
	}
}
@media screen and (min-height: 520px) and (max-height: 599px) {
	body {
		font-size: 100%;
	}
}
@media screen and (min-height: 600px) and (max-height: 719px) {
	body {
		font-size: 117%;
	}
}
@media screen and (min-height: 720px) {
	body {
		font-size: 135%;
	}
}

@media screen and (max-width: 36em) {
	#application-viewport {
		font-size: 100%;
	}
}
@media screen and (max-width: 30em) {
	#application-viewport {
		font-size: 90%;
	}
}
@media screen and (max-width: 24em) {
	#application-viewport {
		font-size: 80%;
	}
}
@media screen and (max-width: 18em) {
	#application-viewport {
		font-size: 60%;
	}
}