#table {
}

#options {
	position: absolute;
	top: 2%;
	right: 14%;
	height: 8%;
}

#table-controls {
	position: absolute;
	left: 15%;
	top: 2%;
	width: 50%;
	height: 33%;
}
.control-box {
}
.control-box .title {
}
.control-box .subsection {
	color: #7693b1;
}
#controls-category {
	display: block;
}

.selector {
	position: absolute;
	bottom: 3.8em;
	right: 0;
	height: 2em;
}
.selector .button {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.5em;
	line-height: 2em;
	padding: 0 0.5em;
}
#temperature-display,
#discovery-year {
	display: inline-block;
	width: 4em;
	text-align: center;
	vertical-align: middle;
}
#new-elements {
	margin-top: 1.5em;
}
#new-elements-number {
	display: inline-block;
	font-size: 2.5em;
	line-height: 1em;
	width: 1.7em;
	padding-right: 0.1em;
	text-align: right;
	vertical-align: middle;
}
#new-elements-label {
	display: inline-block;
	font-size: 0.8em;
	line-height: 1.2em;
	vertical-align: middle;
	width: 8em;
}

#temperature-graph, #discovery-graph {
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 3.5em;
}

#elements {
	position: relative;
	margin: 4% auto 0 auto;
	width: 90%;
	height: 90%;
}

#labels {
	opacity: 1;
}
#labels.hidden {
	opacity: 0;
}
.spot {
	position: absolute;
	width: 1.8em;
	height: 1.9em;
	text-align: center;
	line-height: 2em;
}
.spot span {
	font-size: 0.6em;
	font-family: MuseoSlab;
}
.group-label {
	line-height: 3em;
}
.period-label {
	text-align: right;
	width: 1.7em;
}
.break-label {
}

.element {
	display: inline-block;
	position: absolute;
	width: 1.8em;
	height: 1.9em;
	color: #343e4a;
	border-radius: 0.2em;
	line-height: 0.5em;
	overflow: hidden;
	box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.25),
		inset 0 0.075em 0 rgba(255, 255, 255, 0.1),
		0 0.075em 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 0.075em 0 rgba(255, 255, 255, 0.25);
}
.pushed {
	-webkit-transform: translateY(0.075em);
	box-shadow: inset 0 0.075em 0 rgba(255, 255, 255, 0.1),
		0 0.075em 0 rgba(0, 0, 0, 0.25);;
}
.element .number {
	position: absolute;
	left: 7%;
	top: 7%;
	font-size: 0.5em;
}
.element .symbol {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
}
.element.unnamed .symbol {
	font-size: 0.7em;
}

.group-0 {
	left: -5.6%;
}
.group-1 {
	left: 0;
}
.group-2 {
	left: 2em;
}
.group-3 {
	left: 4em;
}
.group-4 {
	left: 6em;
}
.group-5 {
	left: 8em;
}
.group-6 {
	left: 10em;
}
.group-7 {
	left: 12em;
}
.group-8 {
	left: 14em;
}
.group-9 {
	left: 16em;
}
.group-10 {
	left: 18em;
}
.group-11 {
	left: 20em;
}
.group-12 {
	left: 22em;
}
.group-13 {
	left: 24em;
}
.group-14 {
	left: 26em;
}
.group-15 {
	left: 28em;
}
.group-16 {
	left: 30em;
}
.group-17 {
	left: 32em;
}
.group-18 {
	left: 34em;
}

.period-0 {
	top: -2.1em;
}
.period-1 {
	top: 0;
}
.period-2 {
	top: 2.1em;
}
.period-3 {
	top: 4.2em;
}
.period-4 {
	top: 6.3em;
}
.period-5 {
	top: 8.4em;
}
.period-6 {
	top: 10.5em;
}
.period-7 {
	top: 12.6em;
}
.period-9 {
	top: 15.7em;
}
.period-10 {
	top: 17.8em;
}


.category .element[data-category='nonmetals'],
.key .category.nonmetals,
#navigator .nonmetals {
	background-color: #67f176;
}
.category .element[data-category='alkali'],
.key .category.alkali,
#navigator .alkali {
	background-color: #FF3D46;
}
.category .element[data-category='alkaline'],
.key .category.alkaline,
#navigator .alkaline {
	background-color: #f4653d;
}
.category .element[data-category='noble'],
.key .category.noble,
.key .state.gas,
.temperature .element[data-phase='gas'],
#navigator .noble {
	background-color: #6ED8FA;
}
.category .element[data-category='halogens'],
.key .category.halogens,
#navigator .halogens,
.discovery .element[data-discovered='true'].new {
	background-color: #1DC134;
}
.category .element[data-category='metalloids'],
.key .category.metalloids,
#navigator .metalloids {
	background-color: #fff136;
}
.category .element[data-category='posttransition'],
.key .category.posttransition,
.key .state.liquid,
.temperature .element[data-phase='liquid'],
.discovery .element[data-discovered='true'],
#navigator .posttransition {
	background-color: #2765DB;
}
.category .element[data-category='transition'],
.key .category.transition,
.key .state.solid,
.temperature .element[data-phase='solid'],
#navigator .transition {
	background-color: #A122FF;
}
.category .element[data-category='unknown'],
.key .unknown,
.temperature .element[data-phase='unknown'],
.discovery .element[data-discovered='false'],
#navigator .unknown {
	background-color: #61666d;
}
.category .element[data-category='lanthanides'],
.key .category.lanthanides,
#navigator .lanthanides {
	background-color: #D709DD;
}
.category .element[data-category='actinides'],
.key .category.actinides,
#navigator .actinides {
	background-color: #DD009F;
}

.key {
	display: inline-block;
	vertical-align: top;
	line-height: 0.8em;
	padding-left: 3%;
}
.key.left {
	width: 60%;
}
.key.right {
	width: 30%;
}
.key .category, .key .state {
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	margin-right: 0.1em;
	vertical-align: middle;
	border-radius: 0.2em;
}
.key span {
	font-size: 0.7em;
	vertical-align: middle;
}