#table {
}

#options {
	position: absolute;
	top: 3%;
	right: 14%;
	height: 8%;
}

#table-controls {
	position: absolute;
	left: 18%;
	top: 3%;
	width: 45%;
	height: 27%;
}
.control-box {
	display: none;
}
#controls-category {
	display: block;
}

#phase-temp,
#discovery-year {
	display: inline-block;
	width: 3em;
	text-align: center;
}

#elements {
	position: relative;
	margin: 6% auto 0 auto;
	width: 90%;
	height: 90%;
}

.spot {
	position: absolute;
	width: 5.25%;
	height: 9%;
	text-align: center;
	font-size: 0.8em;
	line-height: 2.2em;
}

.group-label, .period-label, .break-label {
	text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
}
.group-label {
	line-height: 3em;
}
.period-label {
	text-align: right;
	width: 4.4%;
}

.element {
	display: inline-block;
	position: absolute;
	width: 5.25%;
	height: 9%;
	text-align: left;
	background-image: -webkit-linear-gradient(top,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.25) 75%,
		rgba(0, 0, 0, 0.2));
	border-radius: 0.3em;
	box-shadow: inset 0 0.075em 0 rgba(255, 255, 255, 0.3),
		0 0 0.1em rgba(0, 0, 0, 0.5),
		0 0.1em 0.075em rgba(0, 0, 0, 0.6);
	text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.75),
		0 -0.075em 0 rgba(0, 0, 0, 0.5);
	line-height: 0.5em;
	overflow: hidden;
}
.pushed {
	-webkit-transform: translateY(0.075em);
	box-shadow: inset 0 0.075em 0 rgba(255, 255, 255, 0.3),
		0 0 0.1em rgba(0, 0, 0, 0.5),
		0 0.075em 0 rgba(0, 0, 0, 0.6);
}
.element .number {
	position: absolute;
	left: 10%;
	top: 10%;
	font-size: 0.5em;
}
.element .symbol {
	position: absolute;
	left: 10%;
	bottom: 20%;
	width: 100%;
	font-size: 0.8em;
}
.element.unnamed .symbol {
	font-size: 0.7em;
}

.group-0 {
	left: -5.6%;
}
.group-1 {
	left: 0%;
}
.group-2 {
	left: 5.6%;
}
.group-3 {
	left: 11.2%;
}
.group-4 {
	left: 16.8%;
}
.group-5 {
	left: 22.4%;
}
.group-6 {
	left: 28%;
}
.group-7 {
	left: 33.6%;
}
.group-8 {
	left: 39.2%;
}
.group-9 {
	left: 44.8%;
}
.group-10 {
	left: 50.4%;
}
.group-11 {
	left: 56%;
}
.group-12 {
	left: 61.6%;
}
.group-13 {
	left: 67.2%;
}
.group-14 {
	left: 72.8%;
}
.group-15 {
	left: 78.4%;
}
.group-16 {
	left: 84%;
}
.group-17 {
	left: 89.6%;
}
.group-18 {
	left: 95.2%;
}

.period-0 {
	top: -10%;
}
.period-1 {
	top: 0%;
}
.period-2 {
	top: 10%;
}
.period-3 {
	top: 20%;
}
.period-4 {
	top: 30%;
}
.period-5 {
	top: 40%;
}
.period-6 {
	top: 50%;
}
.period-7 {
	top: 60%;
}
.period-9 {
	top: 75%;
}
.period-10 {
	top: 85%;
}


.category .element[data-category='nonmetals'],
.key .category.nonmetals,
#navigator .nonmetals {
	background-color: #009779;
}
.category .element[data-category='alkali'],
.key .category.alkali,
#navigator .alkali {
	background-color: #b70000;
}
.category .element[data-category='alkaline'],
.key .category.alkaline,
#navigator .alkaline {
	background-color: #ff6600;
}
.category .element[data-category='noble'],
.key .category.noble,
.key .state.gas,
.phase .element[data-phase='gas'],
#navigator .noble {
	background-color: #6699cc;
}
.category .element[data-category='halogens'],
.key .category.halogens,
#navigator .halogens {
	background-color: #99cc00;
}
.category .element[data-category='metalloids'],
.key .category.metalloids,
#navigator .metalloids {
	background-color: #fdc20f;
}
.category .element[data-category='posttransition'],
.key .category.posttransition,
.key .state.liquid,
.phase .element[data-phase='liquid'],
.discovery .element[data-discovered='true'],
#navigator .posttransition {
	background-color: #0066cc;
}
.category .element[data-category='transition'],
.key .category.transition,
.key .state.solid,
.phase .element[data-phase='solid'],
#navigator .transition {
	background-color: #8000dd;
}
.category .element[data-category='unknown'],
.key .unknown,
.phase .element[data-phase='unknown'],
.discovery .element[data-discovered='false'],
#navigator .unknown {
	background-color: #888888;
}
.category .element[data-category='lanthanides'],
.key .category.lanthanides,
#navigator .lanthanides {
	background-color: #dd0080;
}
.category .element[data-category='actinides'],
.key .category.actinides,
#navigator .actinides {
	background-color: #dd00dd;
}

.key {
	display: inline-block;
	vertical-align: top;
	line-height: 0.8em;
}
.key.left {
	width: 60%;
}
.key.right {
	width: 35%;
}
.key .category, .key .state {
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	margin-right: 0.1em;
	vertical-align: middle;
	border-radius: 0.2em;
	box-shadow: inset 0 0.075em 0 rgba(255, 255, 255, 0.3),
		0 0.075em 0.1em rgba(0, 0, 0, 0.5);
	text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
}
.key span {
	font-size: 0.7em;
	vertical-align: middle;
}