#table {
	-webkit-transform: translateZ(0);
	opacity: 0.1;
}
#table.active {
	opacity: 1;
}

#title {
	position: absolute;
	left: 3em;
	top: 1em;
	display: inline-block;
	margin: 0;
	font-size: 1.5em;
	line-height: 1.4em;
	color: #334;
	font-family: MuseoSlab;
}

#menu-buttons {
	position: absolute;
	left: 2.5em;
	top: 17.8em;
}
#menu-buttons .icon {
	width: 3em;
	height: 3em;
}

#table-view-dropdown {
	position: absolute;
	top: 1.7em;
	left: 26.2em;
}

#table-controls {
	position: absolute;
	left: 6em;
	top: 3.7em;
	width: 19.9em;
	height: 4.1em;
}
.control-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.table-view-control {
	position: absolute;
	top: -10em;
	left: 14em;
	width: 11.9em;
	height: 1.7em;
	text-align: right;
	-webkit-transition: top 0.3s ease-in-out;
}
#table.temperature #options-temperature,
#table.discovery #options-discovery,
#table.atomic-radii #atomic-radii-dropdown {
	top: 1.7em;
}

#atomic-radii-dropdown {
	text-align: left;
	width: 8.9em;
	left: 16.4em;
	-webkit-transition: top 0.3s ease-in-out,
		height 0.25s ease-in-out;
}

.number-selector {
}
.number-selector .button {
	display: inline-block;
	vertical-align: middle;
	font-family: MuseoSans;
	font-size: 1em;
	width: 1.7em;
	height: 1.7em;
	line-height: 1.7em;
	text-align: center;
	padding: 0;
	background-color: #d1347f;
	border-radius: 0.1em;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.25);
}
.number-selector .display {
	display: inline-block;
	width: 4em;
	text-align: center;
	vertical-align: middle;
}
#options-temperature .display {
	text-align: right;
	padding-right: 0.3em;
	width: 3.7em;
}

#discovered-elements {
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	z-index: 1;
}
#discovered-elements-number {
	display: inline-block;
	font-size: 2.5em;
	vertical-align: bottom;
}
#discovered-elements-label {
	display: inline-block;
	font-size: 0.8em;
	line-height: 1em;
	vertical-align: bottom;
}

#temperature-graph,
#discovery-graph,
#atomic-radii-graph {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#elements {
	position: absolute;
	top: 1.6em;
	left: 2em;
}

#labels {
	visibility: hidden;
}
.category #labels {
	visibility: visible;
}
.spot {
	position: absolute;
	width: 1.8em;
	height: 1.9em;
	text-align: center;
	line-height: 2em;
}
.spot span {
	font-size: 0.6em;
	font-family: MuseoSlab;
}
.group-label {
	line-height: 0.7em;
}
.period-label {
	text-align: right;
	width: 1.7em;
}
.break-label {
	position: absolute;
}

.element {
	display: inline-block;
	position: absolute;
	width: 1.9em;
	height: 2.0em;
	color: #223;
	border-radius: 0.1em;
	line-height: 0.5em;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position-x: 2em, 2em;
	background-size: 100% 100%;
}
.element:active {
	-webkit-transform: scale(0.95);
}
.element .year-discovered,
.element .electronegativity,
.element .atomic-radius {
	position: absolute;
	top: 0.3em;
	left: 0%;
	right: 0%;
	text-align: center;
	font-size: 0.5em;
	visibility: hidden;
}
.element .number {
	position: absolute;
	left: 0.3em;
	top: 0.3em;
	font-size: 0.5em;
}
.element .symbol {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0.5em;
	font-size: 1em;
}
#element-113 .symbol,
#element-115 .symbol,
#element-117 .symbol,
#element-118 .symbol {
	font-size: 0.9em;
}

.group-0 {
	left: -2em;
}
.group-1 {
	left: 0;
}
.group-2 {
	left: 2em;
}
.group-3 {
	left: 4em;
}
.group-4 {
	left: 6em;
}
.group-5 {
	left: 8em;
}
.group-6 {
	left: 10em;
}
.group-7 {
	left: 12em;
}
.group-8 {
	left: 14em;
}
.group-9 {
	left: 16em;
}
.group-10 {
	left: 18em;
}
.group-11 {
	left: 20em;
}
.group-12 {
	left: 22em;
}
.group-13 {
	left: 24em;
}
.group-14 {
	left: 26em;
}
.group-15 {
	left: 28em;
}
.group-16 {
	left: 30em;
}
.group-17 {
	left: 32em;
}
.group-18 {
	left: 34em;
}

.period-1 {
	top: 0;
}
.period-2 {
	top: 2.1em;
}
.period-3 {
	top: 4.2em;
}
.period-4 {
	top: 6.3em;
}
.period-5 {
	top: 8.4em;
}
.period-6 {
	top: 10.5em;
}
.period-7 {
	top: 12.6em;
}
.period-8 {
	top: 14.7em;
}
.period-9 {
	top: 15.7em;
}
.period-10 {
	top: 17.8em;
}

.element.unrecorded .year-discovered {
	font-size: 0.4em;
	top: 0.4em;
}
#table.discovery .element .year-discovered,
#table.electronegativity .element .electronegativity,
#table.atomic-radii .element .atomic-radius {
	visibility: visible;
}
#table.discovery .element .number,
#table.electronegativity .element .number,
#table.atomic-radii .element .number,
#table.picture .number,
#table.picture .symbol {
	visibility: hidden;
}
#table.atomic-radii .element .symbol {
	font-size: 0.6em;
	bottom: 1.1em;
	left: 0.3em;
	text-align: left;
	width: auto;
}
#table.atomic-radii .current-atomic-radius .symbol {
	font-size: 0.8em;
	bottom: 0.9em;
	left: 0.1em;
}
#table.atomic-radii .element .atomic-radius {
	top: auto;
	bottom: 0.1em;
	left: 0.3em;
	text-align: left;
	right: auto;
}
#table.atomic-radii .element {
	background-position-x: 0, 2em;
}
#table.picture .element {
	background-position-x: 2em, 0;
}
#table.atomic-radii .element.unknown-atomic-radius {
	display: none;
}

.category .element[data-category='actinides'],
.key .thumb.actinides,
#navigator .actinides {
	background-color: #cd6efa;
}
.category .element[data-category='noble'],
.key .thumb.noble,
.key .thumb.gas,
.temperature .element[data-phase='gas'],
#navigator .noble,
#table.electronegativity .e0p0 {
	background-color: #18c6f8;
}
.category .element[data-category='posttransition'],
.key .thumb.posttransition,
.key .thumb.liquid,
.key .thumb.discovered,
.temperature .element[data-phase='liquid'],
.discovery .element[data-discovered='true'],
#navigator .posttransition,
#table.electronegativity .e1p0 {
	background-color: #257fff;
}
.category .element[data-category='transition'],
.key .thumb.transition,
.key .thumb.solid,
.temperature .element[data-phase='solid'],
#navigator .transition,
#table.electronegativity .e1p3 {
	background-color: #a257fa;
}
.category .element[data-category='lanthanides'],
.key .thumb.lanthanides,
#navigator .lanthanides,
#table.electronegativity .e1p6 {
	background-color: #cc5bd4;
}
.category .element[data-category='nonmetals'],
.key .thumb.nonmetals,
#navigator .nonmetals,
#table.electronegativity .e1p9 {
	background-color: #d1347f;
}
.category .element[data-category='halogens'],
.key .thumb.halogens,
.key .thumb.newlydiscovered,
#navigator .halogens,
.discovery .element[data-discovered='true'].new,
#table.electronegativity .e2p2 {
	background-color: #43ca68;
}
.category .element[data-category='metalloids'],
.key .thumb.metalloids,
#navigator .metalloids,
#table.electronegativity .e2p5 {
	background-color: #ddc301;
}
.category .element[data-category='alkaline'],
.key .thumb.alkaline,
.key .thumb.unrecorded,
#table.discovery .element.unrecorded,
#navigator .alkaline,
#table.electronegativity .e2p8 {
	background-color: #e28957;
}
.category .element[data-category='alkali'],
.key .thumb.alkali,
#navigator .alkali,
#table.electronegativity .e3p1 {
	background-color: #e03c3d;
}
.category .element[data-category='unknown'],
.key .unknown,
.key .thumb.undiscovered,
.temperature .element[data-phase='unknown'],
.discovery .element[data-discovered='false'],
#navigator .unknown,
#table.electronegativity .unknown {
	background-color: #748991;
}

.key {
	display: inline-block;
	vertical-align: top;
	padding-left: 0.3em;
	line-height: 0.7em;
}
.key.left {
	width: 12em;
}
.key.right {
	width: 6em;
}
.key .thumb {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	vertical-align: middle;
	border-radius: 0.1em;
}
.key span {
	font-size: 0.7em;
	vertical-align: middle;
}